body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e6e6e6;
}

/* Navbar */
.navbar {
    background-color: #ff5c77;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 14px 0;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.navbar a:hover {
    text-decoration: underline
}

/* Main section */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 100px;
}

/* Text */
.intro {
    max-width: 450px;
}

.intro h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

.intro p {
    color: gray;
    line-height: 1.6;
}

/* Image (SMALL + CLEAN) */
.pic img {
    width: 260px;        /* same visual size as screenshot */
    height: 260px;
    border-radius: 20px; /* rounded square corners */
    object-fit: cover;
}
/*About*/
.about{
    padding-left: 100px;
}
.about h1{
    font-size: 28px;
    margin-bottom: 20px;
}
.about p{
    color: gray;
    line-height: 1.6;
}
/*Skills*/
.skills{
    padding: 100px 100px 100px;
}
.skill{
    cursor: pointer;
    transition: 0.3s ease;
}
.skill :hover{
    transform: translateY(-6px);
}
.skill span{
    font-size: 15px;
    color: gray;
    cursor: pointer;
    transition: 0.3s ease;
}
.skills h1{
    font-size: 28px;
    margin-bottom: 20px;
}
.skill-container{
    display: flex;
    justify-content: center;
    gap: 40px;
}
/*Project*/
.projects{
    padding-top: 100px;
}
.project-container{
    display: flex;
    justify-content: space-around;
}
.project-container h3{
    color: gray;
    background-color: aqua;
    width: 150px;
    height: 80px;
    text-align: center;
    padding-top: 25px;
    border: 2px solid orange;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}
.project-container h3:hover{
    transform: translateY(-6px);
}
.project-container a{
    text-decoration: none;
}
/*Contact*/
.contact p{
    color: gray;
}
.contact-container{
    text-align: center;
    padding-top: 50px;
}
.contact-container a{
    text-decoration: none;
    color: rebeccapurple;
}
/*footer*/
.footer {
    background-color:#ff5c77 ; /* your requirement */
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 16px;
}


